$color-grey-dark: #555;
$color-grey-light: #f4f4f4;
$color-black: #000;
$color-white: #fff;
$color-attention-light: #e67e22;
$color-attention-dark:  #cf6d17;

$color-box-shadow: #e67e22;

$color-link: #888;
$color-link-active: #ddd;


$font-family: 'Lato', 'Arial', sans-serif;
$grid-width: 114rem;


