.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 0 2%;
  }

  @include respond(phone) {
    .col { 
      width: 100%;
      margin: 0 0 4% 0;
      //for gap between price plan boxes
    };
  }
}

 