@keyframes fadeIn {
  from { opacity: 0; }
  100%   { opacity: 1; }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(80rem);
  }

  100% {
    transform: translateY(0);
  }
}

//-------------------------------------------
//Pulse Animation for Premium Plan
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($color-box-shadow, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba($color-box-shadow, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($color-box-shadow, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($color-box-shadow, 0.4);
    box-shadow: 0 0 0 0 rgba($color-box-shadow, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba($color-box-shadow, 0);
      box-shadow: 0 0 0 10px rgba($color-box-shadow, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($color-box-shadow, 0);
      box-shadow: 0 0 0 0 rgba($color-box-shadow, 0);
  }
}

//Animation on waypoint
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
  opacity: 1;
}

.fadeInUp {
  animation: fadeInUp 1s;
  opacity: 1;
}