.u-margin-b-sm {
  margin-bottom: 2rem !important;
}

.u-margin-b-md {
  margin-bottom: 4rem !important;
}

.u-margin-r-sm {
  margin-right: 2rem !important;
}

.u-margin-t-sm {
  margin-top: 2rem !important;

  @include respond(tab-port) {
    margin-top: 1.5rem !important;
  }
}

.u-margin-t-min {
  margin-top: 1rem !important;
}


